@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

.menu {
    visibility: hidden;
    background: var(--main) !important;
    height: 35px;
    color: white !important;
}

.menu:hover {
    background: var(--glassingColor) !important;
    border: 1px solid var(--main) !important;
    transition: all 0.3s;
}

::-webkit-scrollbar {
    width: 12px;
    padding: 0 10px !important;
    z-index: -1;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #303030;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #363636;
}

:root {
    --main: #3777e1;
    --second: #1e232e;
    --headerColor: rgb(17, 24, 39, 95%);
    --inputColors: #2c303b;
    --glassingColor: rgb(59, 130, 246, 16%);
    --inputBg: #1e232e;
    --bacground: #020817;
}

.sidebar-logo {
    width: 70px;
    height: 70px;
    margin-right: 25px;
}

.sidebar-header {
    margin-top: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.sidebar-header h1 {
    font-weight: 600;
    font-size: 40px;
    color: var(--main);
}

.btn-close {
    color: white !important;
    font-size: 25px;
}

.phone-menu {
    background: var(--headerColor) !important;
    color: white !important;
    width: 95vw !important;
}

.sidebar-links {
    margin-top: 50px;
}

.sidebar-item a {
    text-decoration: none;
    font-size: 27px;
    color: white;
}

.sidebar-item:hover {
    transition: .4s ease-in-out;
    color: var(--main);
}

.sidebar-item:hover .header-link {
    transition: .4s ease-in-out;
    color: var(--main);
}

.sidebar-item i {
    font-size: 30px;
    margin-right: 20px;
}

.sidebar-item {
    list-style: none;
    margin: 40px 0;
}

.header-btn a {
    text-decoration: none;
    color: white;
}

.header-item a {
    color: white;
    display: inline-block;
    padding: 0 0.1em;
    text-decoration: none;
}

.header-item a:after {
    background-color: var(--main);
    content: "";
    display: block;
    height: 3px;
    border-radius: 5px;
    margin-left: calc(0.5em * -1);
    margin-top: 0.2em;
    transition: width 0.5s;
    width: 0;
}

.header-item a:hover:after {
    width: calc(100% + 0.5em * 2);
}

.main-header {
    background: var(--headerColor);
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    position: fixed;
    box-shadow: 0 0 20px 1px var(--main);
    z-index: 10;
}

.header-btn {
    width: auto;
    padding: 5px 15px !important;
    border: none;
    border-radius: 5px;
    background: var(--main);
    color: white;
    font-weight: 500;
    text-transform: capitalize;
}

.header-btn:hover {
    box-shadow: 0px 0px 3px 3px var(--main);
    background: transparent;
    transition: all 0.3s ease-in-out;
}

/* MAINHEADER-STYLES */
.wrapper {
    width: 1280px;
    margin: 0 auto;
}

body {
    background: var(--bacground) !important;
    color: #fff !important;
    overflow-x: hidden !important;
    width: 95vw !important;
}

.main-header .logo {
    width: 45%;
}

.main-header li {
    display: inline-block;
    list-style: none;
    margin: 0 13px;
}

.header-item a {
    text-decoration: none;
    color: white;
    font-size: 18 px;
    font-weight: 400;
}

.main-header .logo h2 {
    font-weight: bold;
}

footer {
    background: #111827;
    width: 100vw !important;
}

/* ABOUT.HTML- STYLES */
.about-home {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 30px 0 50px 0;
}

.about-home__info {
    width: 50%;
    padding: 100px 0 0 50px;
}

.about-info__title {
    font-size: 60px;
    color: var(--main);
}

.about-info__subtitle {
    font-size: 19px;
    width: 85%;
}

.about-home__img {
    margin-top: 50px;
}

/* ABOUT-STATISTIC-STYLES */
.statistics {
    padding: 0 0 50px 0;
}

.statistic-item {
    display: inline-block;
    width: 25%;
    text-align: center;
    margin: 0 40px;
}

.statistic-item i {
    margin: 0 0 20px 0;
    font-size: 55px;
    background: var(--glassingColor);
    border: 1px solid var(--main);
    padding: 20px;
    border-radius: 50%;
    width: 110px;
    height: 110px;
}

.statistic-item h1 {
    font-size: 55px;
    color: var(--main);
    font-weight: bold;
}

.statistic-item h2 {
    font-size: 50px;
}

/* CHOOSING-STYLES */
.choosing-item {
    width: 30%;
    display: inline-block;
    text-align: center;
    margin: 10px 30px 10px 0;
}

.choosing-item i {
    font-size: 68px;
    color: var(--main);
}

.choosing-item h3 {
    margin: 20px 0;
    font-size: 40px;
}

.choosing-item p {
    font-size: 22px;
}

.choosing {
    padding: 50px 0;
}

.social-media__btn {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: none;
    background: linear-gradient(120deg, #833ab4, #fd1d1d, #fcb045);
    position: relative;
    z-index: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    transition: 0.1s;
}

.social-media__btn i {
    color: white;
    font-size: 28px;
    z-index: 9;
}

.social-media__btn:nth-child(4) {
    background: rgb(255, 33, 33);
}

.social-media__btn:nth-child(5) {
    background: black;
}

.social-media__btn:nth-child(6) {
    background: rgb(69, 187, 255);
}

.social-media__btn:active {
    transform: scale(0.85);
}

.social-media__btn::before {
    content: "";
    position: absolute;
    width: 55px;
    height: 55px;
    background-color: #212121;
    border-radius: 50px;
    z-index: -1;
    border: 0px solid rgba(255, 255, 255, 0.411);
    transition: 0.4s;
}

.social-media__btn:hover::before {
    width: 0px;
    height: 0px;
}